workflows/category-1-sektorsansvariga-mini-v2.json
{
  "name": "Myndighetsbevakning - Category 1 Mini v2 (FIXED)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "category-1-mini-v2",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 500],
      "webhookId": "category-1-mini-v2"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\nlet dateFrom, dateTo;\n\nif (body.dateFrom && body.dateTo) {\n  dateFrom = body.dateFrom;\n  dateTo = body.dateTo;\n} else {\n  const now = new Date();\n  const sevenDaysAgo = new Date(now);\n  sevenDaysAgo.setDate(sevenDaysAgo.getDate() - 7);\n  \n  dateFrom = sevenDaysAgo.toISOString().split('T')[0];\n  dateTo = now.toISOString().split('T')[0];\n}\n\nreturn [{\n  json: {\n    dateFrom,\n    dateTo,\n    category: 'Sektorsansvariga',\n    executionTime: new Date().toISOString()\n  }\n}];"
      },
      "id": "detect-mode",
      "name": "Detect Mode & Parse Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 500]
    },
    {
      "parameters": {
        "url": "https://pts.se/nyheter-och-pressmeddelanden/",
        "method": "GET",
        "options": {
          "timeout": 15000
        }
      },
      "id": "fetch-pts-news",
      "name": "Fetch PTS News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [680, 200]
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data || '';\nconst config = $node['Detect Mode & Parse Config'].json;\nconst dateFrom = new Date(config.dateFrom);\nconst dateTo = new Date(config.dateTo);\ndateTo.setHours(23, 59, 59, 999);\n\nconst articles = [];\n\ntry {\n  // Look for links with dates in PTS news page\n  const linkPattern = /<a[^>]*href=\"([^\"]+)\"[^>]*>([^<]+)<\\/a>/gi;\n  const matches = [...html.matchAll(linkPattern)];\n  \n  for (const match of matches) {\n    const url = match[1];\n    const linkText = match[2].trim();\n    \n    // Skip navigation and menu links\n    if (url.includes('#') || url.includes('javascript:') || linkText.length < 10) continue;\n    if (linkText.toLowerCase().includes('läs mer') || linkText.toLowerCase().includes('nyheter')) continue;\n    \n    // Look for date near this link (within 500 chars)\n    const contextStart = Math.max(0, match.index - 500);\n    const contextEnd = Math.min(html.length, match.index + 500);\n    const context = html.substring(contextStart, contextEnd);\n    \n    const dateMatch = context.match(/\\b(\\d{4})-(\\d{2})-(\\d{2})\\b/);\n    \n    if (dateMatch) {\n      const dateStr = dateMatch[0];\n      const articleDate = new Date(dateStr);\n      \n      if (articleDate >= dateFrom && articleDate <= dateTo) {\n        const fullUrl = url.startsWith('http') ? url : 'https://pts.se' + url;\n        \n        // Avoid duplicates\n        if (!articles.some(a => a.url === fullUrl)) {\n          articles.push({\n            source: 'PTS',\n            category: 'Sektorsansvariga',\n            type: 'news',\n            title: linkText,\n            url: fullUrl,\n            date: dateStr,\n            excerpt: linkText\n          });\n        }\n      }\n    }\n  }\n} catch (e) {\n  console.error('PTS News parsing error:', e.message);\n}\n\n// Return multiple items (one per article)\nif (articles.length > 0) {\n  return articles.slice(0, 10).map(a => ({ json: a }));\n} else {\n  return [{ json: { source: 'PTS News', isEmpty: true, category: 'Sektorsansvariga' } }];\n}"
      },
      "id": "parse-pts-news",
      "name": "Parse PTS News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "https://www.msb.se/sv/rss-floden/rss-alla-nyheter-fran-msb/",
        "method": "GET",
        "options": {
          "timeout": 15000
        }
      },
      "id": "fetch-msb-rss",
      "name": "Fetch MSB RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "const rssXml = $json.data || '';\nconst config = $node['Detect Mode & Parse Config'].json;\nconst dateFrom = new Date(config.dateFrom);\nconst dateTo = new Date(config.dateTo);\ndateTo.setHours(23, 59, 59, 999);\n\nconst articles = [];\n\ntry {\n  // Parse RSS items\n  const itemMatches = rssXml.matchAll(/<item>([\\s\\S]*?)<\\/item>/g);\n  \n  for (const match of itemMatches) {\n    const itemXml = match[1];\n    \n    // Extract title\n    const titleMatch = itemXml.match(/<title><!\\[CDATA\\[(.+?)\\]\\]><\\/title>/) || \n                      itemXml.match(/<title>(.+?)<\\/title>/);\n    \n    // Extract link\n    const linkMatch = itemXml.match(/<link>(.+?)<\\/link>/);\n    \n    // Extract pubDate\n    const pubDateMatch = itemXml.match(/<pubDate>(.+?)<\\/pubDate>/);\n    \n    // Extract description\n    const descMatch = itemXml.match(/<description><!\\[CDATA\\[([\\s\\S]+?)\\]\\]><\\/description>/) || \n                     itemXml.match(/<description>([\\s\\S]+?)<\\/description>/);\n    \n    if (titleMatch && linkMatch && pubDateMatch) {\n      const pubDate = new Date(pubDateMatch[1]);\n      \n      if (pubDate >= dateFrom && pubDate <= dateTo) {\n        let description = descMatch ? descMatch[1] : '';\n        description = description.replace(/<[^>]+>/g, '').substring(0, 300);\n        \n        articles.push({\n          source: 'MSB',\n          category: 'Sektorsansvariga',\n          type: 'news',\n          title: titleMatch[1],\n          url: linkMatch[1],\n          date: pubDate.toISOString().split('T')[0],\n          excerpt: description\n        });\n      }\n    }\n  }\n} catch (e) {\n  console.error('MSB RSS parsing error:', e.message);\n}\n\n// Return multiple items (one per article)\nif (articles.length > 0) {\n  return articles.slice(0, 10).map(a => ({ json: a }));\n} else {\n  return [{ json: { source: 'MSB RSS', isEmpty: true, category: 'Sektorsansvariga' } }];\n}"
      },
      "id": "parse-msb-rss",
      "name": "Parse MSB RSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "url": "https://www.forsvarsmakten.se/sv/om-forsvarsmakten/dokument/",
        "method": "GET",
        "options": {
          "timeout": 15000
        }
      },
      "id": "fetch-fm-docs",
      "name": "Fetch Försvarsmakten Docs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [680, 600]
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data || '';\nconst config = $node['Detect Mode & Parse Config'].json;\nconst dateFrom = new Date(config.dateFrom);\nconst dateTo = new Date(config.dateTo);\ndateTo.setHours(23, 59, 59, 999);\n\nconst docs = [];\n\ntry {\n  // Look for links that look like documents\n  const linkPattern = /<a[^>]*href=\"([^\"]+)\"[^>]*>([^<]{15,})<\\/a>/gi;\n  const matches = [...html.matchAll(linkPattern)];\n  \n  for (const match of matches) {\n    const url = match[1];\n    const linkText = match[2].trim();\n    \n    // Skip navigation\n    if (url.includes('#') || url.includes('javascript:')) continue;\n    if (linkText.toLowerCase().includes('läs mer') || linkText.toLowerCase().includes('dokument')) continue;\n    \n    // Look for date in nearby context\n    const contextStart = Math.max(0, match.index - 500);\n    const contextEnd = Math.min(html.length, match.index + 500);\n    const context = html.substring(contextStart, contextEnd);\n    \n    const dateMatch = context.match(/\\b(\\d{4})-(\\d{2})-(\\d{2})\\b/);\n    \n    let dateStr = null;\n    let docDate = new Date();\n    \n    if (dateMatch) {\n      dateStr = dateMatch[0];\n      docDate = new Date(dateStr);\n    }\n    \n    // If no date found, include recent documents from first page\n    const isRecent = !dateMatch || (docDate >= dateFrom && docDate <= dateTo);\n    \n    if (isRecent && linkText.length > 15) {\n      const fullUrl = url.startsWith('http') ? url : 'https://www.forsvarsmakten.se' + url;\n      \n      // Avoid duplicates\n      if (!docs.some(d => d.url === fullUrl)) {\n        docs.push({\n          source: 'Försvarsmakten',\n          category: 'Regeringen',\n          type: 'document',\n          title: linkText,\n          url: fullUrl,\n          date: dateStr || config.dateTo,\n          excerpt: linkText\n        });\n      }\n    }\n  }\n} catch (e) {\n  console.error('Försvarsmakten parsing error:', e.message);\n}\n\n// Return multiple items (one per document)\nif (docs.length > 0) {\n  return docs.slice(0, 10).map(d => ({ json: d }));\n} else {\n  return [{ json: { source: 'Försvarsmakten', isEmpty: true, category: 'Regeringen' } }];\n}"
      },
      "id": "parse-fm-docs",
      "name": "Parse Försvarsmakten Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 600]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-all-sources",
      "name": "Merge All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst validItems = [];\nconst seenUrls = new Set();\n\nallItems.forEach(item => {\n  if (item.json.isEmpty) return;\n  \n  // Deduplicate by URL (unique key)\n  if (item.json.url && !seenUrls.has(item.json.url)) {\n    seenUrls.add(item.json.url);\n    validItems.push(item.json);\n  }\n});\n\nconst config = $node['Detect Mode & Parse Config'].json;\n\nconsole.log(`Category 1 Mini v2: Collected ${validItems.length} items from ${allItems.length} sources`);\n\nreturn [{\n  json: {\n    success: true,\n    category: 'Sektorsansvariga',\n    items: validItems,\n    totalItems: validItems.length,\n    executionTime: config.executionTime,\n    dateFrom: config.dateFrom,\n    dateTo: config.dateTo,\n    sources: {\n      pts: validItems.filter(i => i.source === 'PTS').length,\n      msb: validItems.filter(i => i.source === 'MSB').length,\n      fm: validItems.filter(i => i.source === 'Försvarsmakten').length\n    }\n  }\n}];"
      },
      "id": "deduplicate-filter",
      "name": "Deduplicate & Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Detect Mode & Parse Config", "type": "main", "index": 0}]]
    },
    "Detect Mode & Parse Config": {
      "main": [[
        {"node": "Fetch PTS News", "type": "main", "index": 0},
        {"node": "Fetch MSB RSS", "type": "main", "index": 0},
        {"node": "Fetch Försvarsmakten Docs", "type": "main", "index": 0}
      ]]
    },
    "Fetch PTS News": {
      "main": [[{"node": "Parse PTS News", "type": "main", "index": 0}]]
    },
    "Parse PTS News": {
      "main": [[{"node": "Merge All Sources", "type": "main", "index": 0}]]
    },
    "Fetch MSB RSS": {
      "main": [[{"node": "Parse MSB RSS", "type": "main", "index": 0}]]
    },
    "Parse MSB RSS": {
      "main": [[{"node": "Merge All Sources", "type": "main", "index": 1}]]
    },
    "Fetch Försvarsmakten Docs": {
      "main": [[{"node": "Parse Försvarsmakten Docs", "type": "main", "index": 0}]]
    },
    "Parse Försvarsmakten Docs": {
      "main": [[{"node": "Merge All Sources", "type": "main", "index": 2}]]
    },
    "Merge All Sources": {
      "main": [[{"node": "Deduplicate & Filter", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
